@media only screen and (max-width: 767px){
    .navegador{
        background-color: white;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .flecha{
        display: none;
    }
    .categorias{
        display: none;
    }
    .casa{
        justify-content: center;
    }

    .pastEvent{
        background-image: url(../assets/images/pexels-photo-14102186.jpeg);
        background-size: cover;
        background-position:center;
    }

    .home{
        background-image: url(../assets/images/pexels-kasuma-1785493.jpg);
        background-size: cover;
    }
}

@media only screen and (min-width: 767px){
    .navegador{
        background-color: rgb(220,4,108);
        border-radius: 4vh;
        color: white;
        font-family:fantasy;
        width: 5.5rem;
        height: 3.5rem;
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: black;
        border-style:solid;
        padding: 2;
        
    }
    .desplegable{
        display: none;
    }
    .categorias{
        display: flex;
    }
    .casa{
        justify-content: space-between;
    }

    .flechasNav a:hover{
        transform: scale(2);
        transition: .5s;
    }
    .pastEvent{
        background-image: url(../assets/images/Russian-Museum-St-Petersburg_1920x1200.jpg);
        background-size: cover;
        background-position: center;
    }

    .home{
        background-image: url(../assets/images/pexels-stephan-seeber-1261728.jpg);
        background-size: cover;
    }
}

.barra{
    width: 6rem;
}

.iconos{
    height: 10vh;
}

footer,.btn {
    background-color: rgb(220,4,108);
}



.upcoming{
    background-image: url(../assets/images/amigos-tintinean-vasos-bebida-bar-moderno_1150-18971.avif);
    background-size: cover;
}

.stats{
    background-image: url(../assets/images/pexels-david-bartus-963278.jpg);
    background-size: cover;
    -webkit-text-stroke: 1.3px black;
    color: red;
    text-align: center;
}

.wid{
    width: 80%;
}

.table, td{
    border-color: red;
    
}

.tituloDetalles{
    text-align: center; 
    font-family: Comic Sans MS; 
    
    color: rgb(220,4,108); 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.descripcionDetalles{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: 1rem;
}

.precioDetalles{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(220,4,108);
    color: white;
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.card{
    border-radius: 1rem;
    background-color: black;
    color: white;
}

.verMas{
    text-align: center; 
    font-family: Comic Sans MS; 
    
    color: rgb(255, 255, 255); 
    text-shadow: -1px 0 #e896c2, 0 1px #e896c2, 1px 0 #414D68, 0 -1px #414D68, -1px 1px 0 #414D68, 1px 1px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.imgDetalles{
    background-image: url(../assets/images/pexels-tim-mossholder-7104017.jpg);
    background-size: cover;
    text-decoration:dashed;
}